.staff {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  width: 800px;
  column-gap: 20px;
  margin: 10px;

  img {
    height: 200px;
    grid-column: 1;
    grid-row: 1 / 4;
    height: 100%;
    width: 100%;
  }
  h2 {
    grid-column: 2;
    grid-row: 1;
  }
  .speciality {
    grid-column: 2;
    grid-row: 2;
  }

  .about {
    grid-column: 2;
    grid-row: 3;
  }

}