body {
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  /* height: max-content; */

}

.staff {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  width: 800px;
  column-gap: 20px;
  margin: 15px;
  color: white;

  img {
    height: 200px;
    grid-column: 1;
    grid-row: 1 / 4;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  h2 {
    grid-column: 2;
    grid-row: 1;
  }

  .speciality {
    grid-column: 2;
    grid-row: 2;
  }

  .about {
    grid-column: 2;
    grid-row: 3;
  }

}

.externalLinks {
  list-style-type: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: orange;
}

.pastWork {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  width: 800px;
  column-gap: 20px;
  margin: 15px;
  color: white;


  img {
    height: 200px;
    grid-column: 1;
    grid-row: 1 / 4;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  h2 {
    grid-column: 2;
    grid-row: 1;
  }

  .speciality {
    grid-column: 2;
    grid-row: 2;
  }

  .about {
    grid-column: 2;
    grid-row: 3;
  }

}

.home {
  display: grid;
  color: white;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 1000px;
  /* place-items: center; */
  h1 {
    grid-column: 1 /3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    margin: 20px auto 5px auto;
  }
  #p1 {
    grid-column: 1 / 3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    margin: 5px auto 15px auto;
  }
  #p2 {
    grid-column: 1;
    grid-row: 3;
  }
  #p3 {
    grid-column: 1;
    grid-row: 4;
  }
  img {
    grid-column: 2;
    grid-row: 3 / 5;
    border-radius: 10px;
    height: 400px;
    margin-left: 50px;

  }

}